#nav {
    margin-top:10px;
    width:90%;
    /* 在页面左右居中 */
    margin-left: auto;
    margin-right: auto;

    position: relative;
    border: none;
    border-radius: 40px;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    padding: 10px;

    min-height: 50px;
    z-index: 2;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
}

#nav li a {
    position: relative;
    /* padding: 15px 40px; */
    padding: 20px 20px;
    font: 500 24px '优设标题黑';
    border: none;
    outline: none;
    color: rgb(70, 100, 180);
    display: inline-block;
    text-decoration: none;
    z-index: 3;
    /* 文字居中 */
    display: flex;
    text-align: center;

}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 80%;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: rgb(170, 190, 255);
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: rgba(170, 190, 255, .5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}