body {
    font-family:  Arial, sans-serif;
    margin: 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #2d6aac;
}

th, td {
    text-align: center;
    font-size: 9pt;
    padding: 5pt;
}

th {
    background-color: #819c81;
    color: #ffffff;
}

td:first-child {
    color: red;
}

td:last-child {
    color: #805100;
}
.jump-container {
position: relative; /* 确保容器元素的定位不会影响子元素 */
width: 30px;
height: 30px;
}

.jump-btn {
position: absolute; /* 将按键定位到容器元素的绝对位置 */
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 50%;
font-size: 20px;
color: white;
background-color: #007bff;
border: none;
outline: none;
cursor: pointer;
}
.jump-btn:hover {
    background-color: #1976D2;
}
.button-container {
position: absolute;
top: 120px;
right: 30px;
}

.button-style {
background-color: white;
border: none;
}
.button-style:hover {
    background-color: #e6e6e1;
  }
#calendar-container{
 position: absolute;
 left:50%;
 transform: translateX(-50%);
 /* width: 100%; */
 
}